@import "../../styles/main.scss";

.menu {
  display: none;
  z-index: 99999;
  width: 100%;
  padding-top: 20px;
  z-index: 99998;
  transition: transform 0.3s ease-in-out;
  @include respond-to(tablet){
    padding-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    @include respond-to(tablet) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }

        li {
          a {
            color: $accent-color;
            text-decoration: none;
            font-weight: bolder;
            font-size: 12px;
            position: relative;
    
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px; // Khoảng cách dưới chữ
              width: 0;
              height: 2px; // Độ dày đường kẻ
              background-color: $secondary-color;
              transition: width 0.5s ease;
              opacity: 0.5;
            }
    
            &:hover::after {
              width: 100%;
             // Đường kẻ mở rộng ra hết chiều dài của thẻ a
            }
          }
        }
  }
}

.menu.active {
  display: block;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background-color: $background-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
  border-top: 1px solid rgba(0, 0, 0, 0.315);
  z-index: 99998;
  //
  @include respond-to(tablet) {
    top: 1%;
    z-index: 99995;
    border-bottom: none;
    border-top: none;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


}


