.search-modal {
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: calc(100% + 50px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999999;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  .modal-content {
    background: white;
    border-radius: 8px;
    padding: 16px;
    width: 90%;
    max-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-box {
      width: 100%;

      .input {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 16px;

        input {
          flex: 1;
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 14px;
          margin-right: 8px;
        }

        .search-icon {
          font-size: 20px;
          color: #333;
          margin-right: 8px;
          cursor: pointer;

          &:hover {
            color: #555;
          }
        }

        .close-btn {
          border: none;
          background: none;
          cursor: pointer;
          font-size: 20px;
          color: #333;

          &:hover {
            color: rgb(86, 73, 57);
          }
        }
      }
      .results{
        .product-item {
            padding: 8px;
            background: #f5f5f5;
            border-radius: 4px;
            margin-bottom: 8px;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center; // căn giữa hình ảnh và tên sản phẩm
            gap: 8px; // khoảng cách giữa hình ảnh và tên sản phẩm
        
            &:hover {
              background: #e0e0e0;
            }
        
            .product-image {
              width: 50px; // hoặc kích thước bạn mong muốn
              height: 50px; // hoặc kích thước bạn mong muốn
              border-radius: 4px; // góc bo tròn
              object-fit: cover; // giữ tỷ lệ hình ảnh
            }
          }
      }
    }
  }
}

@media (min-width: 768px) {
  .search-modal {
    .modal-content {
      max-width: 600px;
    }
  }
}