@import "../styles/main.scss";

.about {
  width: 100%;
  height: auto;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .banner {
    background-color: rgb(233, 233, 233);
    padding: 120px 0px 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .p_banner {
      margin-top: 30px;
      font-size: 30px;
    }

    .selection {
      a {
        font-size: 13px;
        margin: 10px;
      }
    }
  }
}

.about_content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  @include respond-to(tablet) {
    flex-direction: row;
  }
  @include respond-to(desktop) {
    max-width: 80%;
  }

  .imgs img {
    width: 100%;
    border-radius: 15px;
  }

  .text {
    padding-top: 30px;
    max-width: 100%;
    text-align: center;
    @include respond-to(tablet) {
      padding-left: 50px;
      max-width: 60%;
    }

    .b_text {
      font-size: 35px;
    }

    .p_text {
      text-align: left;
      color: rgb(94, 82, 61);
      line-height: 1.7;
    }
  }
}

.mpvc {
  border-top: solid 0.1px rgb(153, 153, 153);
  margin: 70px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 50px;
  .mpvc_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    b {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.about_end {
  border-top: solid 0.1px rgb(153, 153, 153);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  @include respond-to(tablet) {
    flex-direction: row;
  }
  @include respond-to(desktop) {
    max-width: 80%;
  }

  .about_end_text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond-to(tablet) {
      padding-right: 50px;
    }
    .b_text {
      text-align: center;
      font-size: 35px;
    }

    .p_text {
      text-align: left;
      color: rgb(94, 82, 61);
      line-height: 1.7;
    }
    .about_end_btn {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .about_end_imgs img {
    width: 100%;
    border-radius: 15px;
  }

  .about_end_btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;

    .icon {
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}
