@import "../styles/main.scss";

.home {
  padding-top: 120px;

  .content {
    display: flex;
    justify-content: center;
    margin: 30px;
    .items {
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        position: relative;
        font-size: 30px;
        z-index: 2;
        right: 50px;
        h1 {
          color: $accent-color;
          font-family: $secondary-font;
        }
        .year {
          position: absolute;
          top: 30px;
          right: 50px;
          transform: rotate(90deg);
          font-size: 100px;
          opacity: 15%;
          overflow-x: hidden;
          color: $tertiary-color;
        }
      }
      button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        padding: 10px;
        border-radius: 30px;
        background-color: white;

        span {
          margin-top: 5px;
          margin-left: 10px;
        }
      }
    }
    .img {
      position: absolute;
      width: 250px;
      left: 120px;
      @include respond-to(tablet) {
        position: relative;
        width: 300px;
      }
      @include respond-to(desktop) {
        width: 500px;
      }
      img {
        width: 100%;
        border-radius: 15px;
        opacity: 80%;
      }
    }
  }
}
//
.widget {
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  .line {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: row;
    gap: 50px;
    animation: 30s slide infinite linear;

    p {
      font-size: 50px;
      font-weight: bolder;
      color: white;
    }

    span {
      margin-top: 50px;
      font-size: 100px;
      color: white;
    }
  }
}

//
.home_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: aqua;
  margin-top: 100px;

  .home_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    h5 {
      font-size: 30px;
      margin: 10px;
      color: black;
    }

    p {
      text-align: center;
      color: rgb(83, 83, 83);
    }
  }

  .home_list_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    @include respond-to(desktop){
      max-width: 60%;
    }
  }

  .product-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
    &:hover {
      scale: 110%;
    }

    img {
      max-width: 50%;
      height: auto;
    }

    h5 {
      margin: 8px 0;
      font-size: 10px;
    }

    p {
      color: #888;
      font-size: 14px;
    }

    button {
      display: inline-block;
      padding: 8px 12px;
      background-color: #dc3e37;
      color: #fff;
      border-radius: 4px;
      text-decoration: none;
      margin-top: 10px;
      transition: background-color 0.3s;
      border: none;

      &:hover {
        background-color: #f2965b;
      }
    }
  }
}

//

.home_about {
  width: 100%;
  padding-top: 50px;
  border-top: solid 0.1px rgb(153, 153, 153);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    h5 {
      font-size: 45px;
      margin: 10px;
      color: black;
    }

    p {
      color: rgb(83, 83, 83);
    }
  }

  .about_items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    max-width: 80%;
    border-bottom: solid 0.1px rgb(153, 153, 153);
    @include respond-to(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    // @include respond-to(desktop){
    //   grid-template-columns: repeat(4, 1fr);
    // }

    .item {
      padding: 0 25px 0 25px;
      height: 250px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 60px;

        .rotate {
          transform: rotate(90deg);
        }
      }

      b {
        font-size: 15px;
        margin-top: 20px;
        text-align: center;
      }

      p {
        text-align: center;
        color: $accent-color;
      }
    }
  }
}

//

.home_note {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;

  .chat_icon {
    font-size: 50px;
  }

  .note {
    font-weight: normal;
    max-width: 800px;
    text-align: center;
    color: rgb(83, 83, 83);
    padding: 0 20px 0 20px;
    p {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .CEO_name {
    font-weight: bold;
    font-size: 25px;
  }

  .sub_name {
    font-weight: light;
    margin-top: 10px;
    color: rgb(83, 83, 83);
    border-bottom: solid 0.1px rgb(153, 153, 153);
  }

  .note_imgs {
    padding-top: 50px;
    width: 100%;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
    }
    p {
      font-weight: bold;
      font-size: 50px;
      z-index: 3;
    }

    b {
      position: absolute;
      right: 0;
      font-size: 200px;
      opacity: 5%;
      transform: rotate(90deg);
    }
  }

  .brands {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      width: 10%;
    }
  }
}

// Instagram
.instagram {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  padding: 0;
  margin: 0;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;

    .ig_logo {
      color: white;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
    }

    .ig_img {
      overflow: hidden;
    }

    img {
      width: 100%;
      transition: transform 0.6s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
