@import "../styles/main.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;

  .footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;

    .col_1 {
      width: 70%;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: left;
      @include respond-to(tablet){
        width: 50%;
      }

      h3 {
        margin: 10px;
        font-size: 50px;
      }

      p {
        width: 100%;
        text-align: center;
        padding: 0 25px 25px 25px;
      }
    }
    .col_23 {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      padding-left: 30px;
      @include respond-to(tablet)
      {
        width: 50%;
        padding-left: 65px;
      }

      .col_2 {
        text-align: center;
        width: 100%;
        padding: 0 25px 0 25px;
        ul{
          text-align: left;
        }
        p {
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .col_3 {
        text-align: center;
        width: 100%;
        ul{
          text-align: left;
        }
        p {
          font-size: 20px;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  .footer_end {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 0.1px rgb(153, 153, 153);
    width: 100%;
  }
}
